<ion-view>
  <ion-content class="jornal3">


<p>HEMORRAGIA EXTERNA!</p>



    <div class="botao-jornal3-1">
      <button class="button button-outline button-assertive" type="submit" ng-click="jornal6()">Estancar sangramento</button>
    </div>

    <div class="botao-jornal3-2">
      <button class="button button-outline button-assertive" type="submit" ng-click="jornal7()">Amputar braço ferido</button>
    </div>
    <!-- Ou o celular toca também -->

  </ion-content>
</ion-view>
