<ion-view>
  <ion-content class="jornal1">

        <p>Seu cameraman foi atingido por estilhaços da explosão e está muito ferido ao seu lado.</p>

    <div class="botao-jornal1-1">
      <button class="button button-outline button-stable" type="submit" ng-click="jornal2()">Seu celular apita: nova msg!</button>
    </div>

    <div class="botao-jornal1-2">
      <button class="button button-outline button-stable" type="submit" ng-click="jornal3()">Prestar socorro</button>
    </div>

  </ion-content>
</ion-view>
