<ion-view>
  <ion-content class="jornal2">


<p>Por causa da cobertura do evento, seu celular passou a noite toda ligado. Sua bateria acaba de acabar. Uh-oh.</p>



    <div class="botao-jornal2-1">
      <button class="button button-outline button-stable" type="submit" ng-click="jornal4()">Jogar cel no chão de ódio</button>
    </div>

    <div class="botao-jornal2-2">
      <button class="button button-outline button-stable" type="submit" ng-click="jornal5()">Procurar fonte de energia</button>
    </div>
    <!-- Ou o celular toca também -->

  </ion-content>
</ion-view>
