<!-- MAPA HACKER-->
<ion-view>
  <ion-content>

<h1>Mapa Hacker</h1>


<p>A tela não pode exibir o Mapa do Hacker porque</p>
<p>ele mascara o IP e seu paradeiro é desconhecido,</p>
<p>pelo menos inicialmente.</p>

<div map-lazy-load="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNcEjGNZ8g2P7e7RKe4aeul-k1pAMqP2M">
  <ng-map center="47.6210894,-70.1465705,17" zoom="15"></ng-map>
</div>

<label class="item">
  <button class="button button-dark" type="submit" ng-click="hacker1()">Avançar</button>
</label>



  </ion-content>
</ion-view>
