<ion-view>
  <ion-content class="maparicardo">

    <div map-lazy-load="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNcEjGNZ8g2P7e7RKe4aeul-k1pAMqP2M">
      <ng-map center="42.458241,-71.274312" zoom="16">
        <marker position="42.458241,-71.274312"></marker>
        <marker position="47.621416,-70.144430" icon="/img/airforce.png"></marker>
      </ng-map>
    </div>

    <p class="testomapaRicardo">VOCÊ ESTÁ AQUI:<br>
    Hanscom Air Force Base<br>
  55 Grenier St, Bedford, MA<br>
01731, EUA<br>
Latitude: 38.880188<br>
Longitude: -76.994518</p>

<div>
  <button class="button button-balanced" type="submit" ng-click="ricardo1()">Avançar</button>
</div>



  </ion-content>
</ion-view>
