<ion-view>
  <ion-content class="mapa-jornal">
    
<div map-lazy-load="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNcEjGNZ8g2P7e7RKe4aeul-k1pAMqP2M">
  <ng-map center="47.621416,-70.144430" zoom="18">
    <marker position="47.621416,-70.144430"></marker>
    <marker position="47.620778,-70.145412" icon="/img/boom.png"></marker>
  </ng-map>
</div>

<p>YOU ARE HERE:<br>
Rôtisserie St-Hubert<br>
183 Rue Richelieu, La Malbaie<br>
QC G5A, Canada<br>
Latitude: 47.621416<br>
Longitude: -70.144430</p>

<div>
  <button class="button button-clear button-stable" type="submit" ng-click="jornal1()">Avançar</button>
</div>



  </ion-content>
</ion-view>
