<ion-view>
  <ion-content class="opcoes">

<p>Choose your identity. Wisely.</p>



<div class="botao-opcoes">
  <button class="button button-dark" type="submit" ng-click="opMilitary()">MILITARY</button>
</div>

<div class="botao-opcoes">
  <button class="button button-dark" type="submit" ng-click="opIntel()">INTELLIGENCE</button>
</div>

<div class="botao-opcoes">
  <button class="button button-dark" type="submit" ng-click="opCivil()">CIVILIAN</button>
</div>


  </ion-content>
</ion-view>
