<ion-view>
  <ion-content class="telar6">

    <p class="sombra">Enquanto muitos soldados pularam de paraquedas para salvar suas vidas, você decidiu ficar e ajudar os pilotos para tentar fazer o avião pousar em algum lugar que não faça feridos.</p>

    <div class="botao-telar6-1 animated flash">
      <button class="button button-balanced" type="submit" ng-click="ricardo12()">Aterrizar na cidade.</button>
    </div>

    <div class="botao-telar6-2 animated flash">
      <button class="button button-balanced" type="submit" ng-click="ricardo13()">Aterrizar na plantação de milho.</button>
    </div>

  </ion-content>
</ion-view>
