<ion-view>
  <ion-content class="telar15">

    <p class="sombra">Agora alem dos seus companheiros você também esta correndo perigo, pense rápido, não ha muito tempo.</p>

    <div class="botao-telar15-1 animated flash">
      <button class="button button-balanced" type="submit" ng-click="opcoes()">Pegar o ultimo paraquedas e dizer adeus aos seus amigos.</button>
    </div>

    <div class="botao-telar15-2 animated flash">
      <button class="button button-balanced" type="submit" ng-click="opcoes()">Cair com o avião e esperar por um milagre.</button>
    </div>

  </ion-content>
</ion-view>
