<ion-view>
  <ion-content class="telar7">

    <p class="sombra">Você decidiu pular de paraquedas, mas antes de pular alguns de seus companheiros ficaram presos e estão precisando de ajuda, o problema é que não há muito tempo.</p>

    <div class="botao-telar7-1 animated flash">
      <button class="button button-balanced" type="submit" ng-click="ricardo14()">Pular e salvar sua vida.</button>
    </div>

    <div class="botao-telar7-2 animated flash">
      <button class="button button-balanced" type="submit" ng-click="ricardo15()">Tentar ajudar companheiro.</button>
    </div>

  </ion-content>
</ion-view>
