<ion-view>
  <ion-content class="telar2">

    <p class="sombra">
       Muito bem soldado, você esta indo com as tropas em direção a Coréia da Norte, se prepare porque a batalha esta prestes a começar.
    </p>

<div class="botao-telar2-1 animated flash">
  <button class="button button-balanced" type="submit" ng-click="ricardo4()">Confronto naval.</button>
</div>

<div class="botao-telar2-2 animated flash">
  <button class="button button-balanced" type="submit" ng-click="ricardo5()">Confronto aéreo.</button>
</div>

  </ion-content>
</ion-view>
