<ion-view>
  <ion-content class="telar3">

    <p class="sombra">As tropas estão no avião indo em direção ao local da explosão, muitas pessoas estão feridas e precisando de ajuda, mas no meio do trajeto algo aconteceu gerando uma pane grave nos controles do avião.</p>

    <div class="botao-telar3-1 animated flash">
      <button class="button button-balanced" type="submit" ng-click="ricardo6()">Pane no motor pular de paraquedas.</button>
    </div>

    <div class="botao-telar3-2 animated flash">
      <button class="button button-balanced" type="submit" ng-click="ricardo7()">Se prepare para aterrizar o avião.</button>
    </div>

  </ion-content>
</ion-view>
