<ion-view>
  <ion-content class="telar9">

    <p class="sombra">Após longas conversas com as tropas inimigas, nada foi resolvido, então a única solução é mostrar quem é a maior e mais forte nação do mundo para os norte coreanos.</p>

    <div class="botao-telar9-1 animated flash">
      <button class="button button-balanced" type="submit" ng-click="ricardo18()">Atacar com força total.</button>
    </div>

    <div class="botao-telar9-2 animated flash">
      <button class="button button-balanced" type="submit" ng-click="ricardo19()">Demonstrar interesse em usar armas nucleares.</button>
    </div>

  </ion-content>
</ion-view>
