<ion-view>
  <ion-content class="telar10">

<p class="sombra">Os aviões fizeram um bom trabalho, destruiram grande parte da tropa naval norte coreana, mas a força aérea norte coreana esta a caminho e a batalha parece estar longe do fim.</p>

<div class="botao-telar10-1 animated flash">
  <button class="button button-balanced" type="submit" ng-click="ricardo20()">Manter aviões somente em combate aéreo.</button>
</div>

<div class="botao-telar10-2 animated flash">
  <button class="button button-balanced" type="submit" ng-click="ricardo21()">Mandar aviões para atacar alvos terrestres.</button>
</div>

  </ion-content>
</ion-view>
