<ion-view>
  <ion-content class="telar13">

    <p class="sombra">Parabéns soldado, você conseguiu ajudar os pilotos a pousarem o avião em um lugar deserto, não houve civis feridos porem um dos pilotos e alguns soldados ficaram extremamente feridos.</p>

    <div class="botao-telar13-1 animated flash">
      <button class="button button-balanced" type="submit" ng-click="opcoes()">Deixar os feridos para traz e ir para o local da explosão.</button>
    </div>

    <div class="botao-telar13-2 animated flash">
      <button class="button button-balanced" type="submit" ng-click="opcoes()">Ajudar o piloto e soldados.</button>
    </div>

  </ion-content>
</ion-view>
