<ion-view>
  <ion-content class="telar8">

    <p class="sombra">Agora não tem mais jeito a guerra esta declarada, não existe mais possibilidade de paz. Junte todas as forças e batalhe contra o inimigo norte coreano.</p>

    <div class="botao-telar8-1 animated flash">
      <button class="button button-balanced" type="submit" ng-click="ricardo16()">Destruir toda frota norte coreana.</button>
    </div>

    <div class="botao-telar8-2 animated flash">
      <button class="button button-balanced" type="submit" ng-click="ricardo17()">Pedir auxílio dos submarinos.</button>
    </div>

  </ion-content>
</ion-view>
