<ion-view>
  <ion-content class="telar14">

    <p class="sombra">Ok soldado, você tomou uma atitude drástica agora tera que conviver com isto, mas o importante é que mantenha-se focado na missão, ainda é necessário ir ao local da explosão para ajudar.
</p>

    <div class="botao-telar14-1 animated flash">
      <button class="button button-balanced" type="submit" ng-click="opcoes()">Arrombar um carro e ir para local da explosão.</button>
    </div>

    <div class="botao-telar14-2 animated flash">
      <button class="button button-balanced" type="submit" ng-click="opcoes()">Esperar por transporte e reforço.</button>
    </div>

  </ion-content>
</ion-view>
