<ion-view>
  <ion-content class="telar4">

<p class="sombra">A tropa naval norte coreana foi avistada, eles estão esperando nosso exercito e estão prontos para a batalha, ha muitos navios inimigos se prepare pois a batalha será muito difícil.</p>

<div class="botao-telar4-1 animated flash">
  <button class="button button-balanced" type="submit" ng-click="ricardo8()"> Lançar mísseis.</button>
</div>

<div class="botao-telar4-2 animated flash">
  <button class="button button-balanced" type="submit" ng-click="ricardo9()">Entrar em contato com os inimigos.</button>
</div>

  </ion-content>
</ion-view>
