<ion-view>
  <ion-content class="telar1">


      <p>
       Soldado você esta na base militar de Hanscan Massachusetts, após o atentado foi declarado duas missões de extrema urgência, para o batalhão.
      </p>


<div class="botao-telar1-1 animated flash">
  <button class="button button-balanced" type="submit" ng-click="ricardo2()">Atacar Coréia do Norte.</button>
</div>

<div class="botao-telar1-2 animated flash">
  <button class="button button-balanced" type="submit" ng-click="ricardo3()">Se locomover para o local da explosão.</button>
</div>

  </ion-content>
</ion-view>
