<ion-view>
  <ion-content class="telar5">

<p class="sombra">A tropa naval norte coreana foi avistada, se prepare pois o comandante deu ordem para os aviões irem em direção as tropas inimigas, mantenha a cabeça no lugar pois a guerra começou.</p>

<div class="botao-telar5-1 animated flash">
  <button class="button button-balanced" type="submit" ng-click="ricardo10()">Lançar mísseis nos navios.</button>
</div>

<div class="botao-telar5-2 animated flash">
  <button class="button button-balanced" type="submit" ng-click="ricardo11()">Sobrevoar o local.</button>
</div>

  </ion-content>
</ion-view>
