<ion-view>
  <ion-content class="telar12">

    <p class="sombra">O piloto do avião não conseguiu aterrizar em um lugar deserto e acabou caindo em uma avenida com muito movimento, criando um grande caos na região. Agora alem dos feridos da explosão á também feridos devido a queda do avião.</p>

    <div class="botao-telar12-1 animated flash">
      <button class="button button-balanced" type="submit" ng-click="opcoes()">Prosseguir com a missão.</button>
    </div>

    <div class="botao-telar12-2 animated flash">
      <button class="button button-balanced" type="submit" ng-click="opcoes()">Dar auxilio aos feridos da queda do avião.</button>
    </div>

  </ion-content>
</ion-view>
